* {
   background-color: #03071E;
}
.title {
    font-size: 100px;
	color: neonGreen;
    padding-top: 150px;
    vertical-align: center;
    text-align: center;
    align-items: center;
    line-height: 0px;
	
}
.sub {
    line-height: 0px;
    font-size: 25px;
	color:#00FF0C;
	padding-top: 25px;
    vertical-align: center;
    text-align: center;
    align-items: center;
}