*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

section{
	float: left;
	width: 33%;
}

article{
	position: relative;
	border: 1px solid black;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #eee;
}

h2{
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	width: 100px;
	border: 1px solid black;
}

p{
	margin-top: 35px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#chicken{
	background-color: yellow;
}

#beef{
	background-color: blue;
}

#pork{
	background-color: pink;
}